
.navbar-header{

  padding-left: 50px;

}
.navbar-brand>img {
	width: 100%;
	height: 45px;
	padding-bottom: 0px;

}

#container .navbar-default{
	background-color: #f2f2f2!important;
	border-color: transparent!important;
	border-radius: 0px!important;
	margin-bottom:0px!important; 
}

#navbar2 .navbar-nav>li>a {
	height: 64px!important;
	line-height: 31px!important;
}

.navbar .navbar-expand-lg{
	background-color: #ececec!!important;
}


.navbar-nav {


	list-style-type: none;
	float: right;
	padding: 0px;
	margin:0px;
}

.nav-background-color{
	background-color: #000000;
	height: 67px;
}

.banner{
height: 500px;
max-width: 100%;
background: no-repeat center center scroll;
background-size: cover;

}


.navbar-nav>li>a{

	color: #000;
}

.item .container{
	 width: 603px
}


.carousel-control.left {
    background-image: none!important;
    background-image:  none!important;
    background-image:  none!important;
    background-image:  none!important;
    filter:  none!important;
    position: absolute!important;
}

.carousel-control.right {
    background-image: none!important;
    background-image:  none!important;
    background-image:  none!important;
    background-image:  none!important;
    filter:  none!important;
   
}


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-top: 250px!important;
    font-size: 17px!important;
    border-radius: 100%!important;
    border: 3px solid #565658!important;
    padding-top: 2px!important;
    color: #000!important;
}
.carousel-control .glyphicon-chevron-left{
	margin-left: 318px!important;
	position: sticky!important;
}
.carousel-control .glyphicon-chevron-right{
	margin-right: 870px!important;
	position: sticky!important;
}

.item { 
	width: 741px;
	margin-left: 70px;
    margin-top: 74px;
    margin-bottom: 10px;
    font-size: 70px;

}

.body{
	width: 400px;
	margin-left: 170px;
    margin-top: 195px;
    margin-bottom: 10px;
}



.believe{
	background-image: url('image/backgroundimage1');
	border-left: 1px solid #939393; 
}

.two{
    width: 400px;
	margin-left: 878px;
    margin-top: -200px;
    margin-bottom: 10px;
}

.row{
	margin: 0 !important;
	padding: 0 !important;
}

.section2{
	background-image: url('../image/backgroundimage1.jpg');
	color: #f3f3f1; 

}

.about{
	margin-left: 90px;
	margin-top: 150px;
}

.section3{
	background-image: url('../image/section3.jpg');
}

.consulting{
	margin-left: 100px;
	margin-top: 150px;
}

.people{
	margin-top: 154px;
	margin-bottom: 150px; 
}

.connect{
	margin-top: 50px;
	margin-bottom: 100px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white!important;
}

.section4{
	background-color: #565658;
	color: #f3f3f1;

}

.bottomlinks{
	margin-top: 50px;
	list-style: none;
	}

.vid{
	list-style: none;
}


.vid a{
	color:  #d5d5d8!important;
}

/* For devices 480px and smaller: */
@media(max-width: 480px) {
   
.navbar-collapse .navbar-nav{
	text-align: center!important;
	float: none!important;


}

.carousel-inner .banner{
	width: auto!important;
}

}


/* For devices 768px and larger: */
@media screen and (min-width: 768px) {
.carousel-indicators {
    bottom: -481px!important;
}
}

